body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    background-color: #2C3E50; /* Dark Background Color */
    color: #ECF0F1; /* Light Text Color */
}

nav ul {
    background-color: #2980B9; /* Blockchain Blue */
    text-align: center;
    padding: 10px 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #ECF0F1; /* Light Text Color */
}

.container {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.blurb h1 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #3498DB; /* Blockchain Blue */
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.languages,
.github-stats,
.repositories {
    flex: 1;
    margin: 0 20px;
}

.github-stats img,
.repositories img {
    width: 100%;
    max-width: 400px;
}

footer {
    border-top: 1px solid #2980B9; /* Blockchain Blue */
    font-size: .8em;
    text-align: center;
    padding: 10px 0;
}
